/* App.css */

.link-underline {
  text-decoration: underline !important;
}
.link-underline-none {
  text-decoration: none !important;
}
.link-underline-hover:hover {
  text-decoration: underline !important;
}
.link-underline-none-hover:hover {
  text-decoration: none !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.select-custom {
  box-shadow: none !important;
  border-color: #ced4da !important;
  min-width: 150px;
  max-width: 250px;
  margin: auto;
}